*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .full-height{
    height: calc(100vh - 60px); 
    overflow: hidden;
}

@media (min-width: 576px) {
    h1 {
      font-size: small;  
    }
} */